
html,body{
    height: 100%;
    width: 100%;
}
#cara{
    padding: 20%;
    height: 500px;
    width: 500px;
    background-color: bisque;
    border-radius: 50%;

}

#ojoDer{
    
    margin-left: 62.5%;
    width: 25%;
    height: 25%;
    float: left;
    background-color: aqua;
    border-radius: 50%;
}
#ojoIz{ 
    margin-left: 12.5%;   
    width: 25%;
    height: 25%;
    background-color: aqua;
    border-radius: 50%;
}
#nariz{
    margin-top: 5%;
    margin-bottom: 10%;
    width: 20%;
    height: 20%;
    background-color: blue;
    margin-left: 40%;
    border-radius: 50%;
}
#boca{
    margin-top: 10%;
    background-color: red;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    border-radius: 50%;
}